@font-face {
  font-family: "iconfont"; /* Project id 3011984 */
  src: url('//at.alicdn.com/t/font_3011984_avfznxlxh59.woff2?t=1639446327000') format('woff2'),
       url('//at.alicdn.com/t/font_3011984_avfznxlxh59.woff?t=1639446327000') format('woff'),
       url('//at.alicdn.com/t/font_3011984_avfznxlxh59.ttf?t=1639446327000') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e621";
}

.icon-locationfill:before {
  content: "\e650";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-s-home:before {
  content: "\e675";
}

.icon-video-play:before {
  content: "\e681";
}
