@font-face {
  font-family: "iconfont"; /* Project id 3011984 */
  src: url('//at.alicdn.com/t/font_3011984_8n6fhsf58k9.woff2?t=1647411889049') format('woff2'),
       url('//at.alicdn.com/t/font_3011984_8n6fhsf58k9.woff?t=1647411889049') format('woff'),
       url('//at.alicdn.com/t/font_3011984_8n6fhsf58k9.ttf?t=1647411889049') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangpinguanli:before {
  content: "\e809";
}

.icon-3dtouchshangpinliebiaotuijian:before {
  content: "\e608";
}

.icon-roots:before {
  content: "\e618";
}

.icon-jiedianguanli:before {
  content: "\eb64";
}

.icon-icon-eye-open:before {
  content: "\e60c";
}

.icon-icon-eye-close:before {
  content: "\e60d";
}

.icon-chilun:before {
  content: "\e63f";
}

.icon-yonghuxinxi-:before {
  content: "\e62c";
}

.icon-menu:before {
  content: "\e621";
}

.icon-locationfill:before {
  content: "\e650";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-s-home:before {
  content: "\e675";
}

.icon-video-play:before {
  content: "\e681";
}
